<main class="main">
  <div class="top-page">
    <%= image_tag 'top-bird.jpg', class: "top-page__img"%>
    <h1 class="top-page__text">
      <span class="top-page__text__doubutu">動物達</span>にご支援をお願いします<br>
    <span class="top-page__text-inner">人類と生き物たちが共存・調和が<br>
      取れる世界にしていきましょう</span>
    </h1>
</main>
