.notification {
  .notice {
    background-color: greenyellow;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }

  .alert {
    background-color: #f35500;
    color: #fff;
    text-align: center;
  }
}
